@font-face {
   font-family: "Cinzel Black";
   src: url("fonts/Cinzel Black.woff") format("woff"), url("fonts/Cinzel Black.eot") format("embedded-opentype"), url("fonts/Cinzel Black.ttf") format("truetype"), url("fonts/Cinzel Black.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}